<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Reactive Form Validation</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input id="inputFirstname" type="text" pattern="[a-zA-Z]*" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" minlength="3" maxlength="50" />
            <div id="errorFirstName" *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">
                First Name is required
              </div>
              <div *ngIf="f.firstName.errors.minlength">
                First Name must be at least 3 characters
              </div>
              <div *ngIf="f.firstName.errors.pattern">
                Symbol and Numbers are not allowed
              </div>
            </div>
          </div>

          <label>Gender</label>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" id="gender" value="Male" />
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="gender" id="gender" value="Female" />
              <label class="form-check-label">Female</label><br />
            </div>
            <div id="errorGender" *ngIf="submitted && f.gender.errors" class="text-danger">
              <small *ngIf="f.gender.errors.required">Gender is required</small>
            </div>
          </div>

          <div class="form-group">
            <label>Country</label>
            <select class="form-control" formControlName="country" [(ngModel)]="country" (change)="onChangeCountry()"
              ngModel [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
              <option *ngFor="let countryName of listCountry" value="{{countryName.value}}">{{countryName.name}}
              </option>
            </select>
            <div id="errorCountry" *ngIf="submitted && f.country.errors" class="invalid-feedback">
              <div *ngIf="f.country.errors.required">country is required</div>
              <div *ngIf="f.country.errors.country">
                country must be a valid country address
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>City</label>
            <select [disabled]="country == null" formControlName="city" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
              <option *ngFor="let cityName of listCity" value="{{cityName.cname}}">{{cityName.cname}}</option>
            </select>
            <div id="errorCity" *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">city is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Age</label>
            <input type="text" id="inputAge" pattern="[0-9]*" formControlName="age" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.age.errors }" maxlength="2" />
            <div id="errorAge" *ngIf="submitted && f.age.errors" class="invalid-feedback">
              <div *ngIf="f.age.errors.required">Age is required</div>
              <div *ngIf="f.age.errors.pattern">
                Alphabet or symbols are not allowed
              </div>
            </div>
          </div>
          <div class="form-group">
            <button id="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
